
<!-- <div class="panel-group">
  <div class=" panel  panel-success">
    <div class="row">
           <div class="col-md-3">
             <h4> About Us </h4>
                 <ul class="list-unstyled">
                  <li> <a [routerLink]="['Home']">Home</a></li>

                </ul>
            </div>
            <div class="col-md-3">
              <h4> Help </h4>
                  <ul class="list-unstyled">
                  <li> <a [routerLink]="['Contact Us']">Contact us</a></li>
                 </ul>
             </div>
             <div class="col-md-3">
               <h4> Connect </h4>
               <ul class="list-unstyled">
        <table>
                 <tr>
       <td><a href="#"><i class="fa fa-twitter" style="color:#444444"></i></a></td>
       <td><a href="#"><i class="fa fa-facebook" style="color:#444444"></i></a></td>
       <td><a href="#"><i class="fa fa-pinterest" style="color:#444444"></i></a></td>
       <td><a href="#"><i class="fa fa-youtube" style="color:#444444"></i></a></td>
       <td><a href="#"><i class="fa fa-instagram"  style="color:#444444"></i></a></td>
     </tr>
   </table>

              </ul>
              </div>
              <div class="col-md-3">
                <h4> sing up </h4>
                    <ul class="list-unstyled">
                      <li>  <input id="email" type="text" class="form-control" name="email" placeholder="Enter Email" style="background-color:white"> </li>
                      <li></li>
                      <li> <button class="btn btn-primary btn-block" style="background-color: orange"> Sign Up</button>

                   </ul>

  </div>
</div>
</div>-->

  <!-- panel footer startst here -->
  <div class="panel-footer">
       <div class="row">
            <div class="col-xs-3">
                 <p class="copyright" style="text-align:center">
                    Copyright @ 2017 Aljazira Center
                </p>
           </div>
           <div class="col-xs-5" style="text-align:center">
              <address>
                    Ajazira Center| 280 Elgar | Montreal, QC H3E1G5
              </address>
          </div>
       <div class="col-xs-2" style="text-align:right">
              <p> Back To Top</p>
      </div>
      <div class="col-xs-2">
            <a href="#">
              <span class="glyphicon glyphicon-arrow-up"></span>
            </a>
      </div>
   </div>
</div>
<!-- panel footer ends here -->




  <!--<div class="aljazira-footer">
   <div style="text-align: center"> all right reserved @aljazira-islamic-center.org</div>


  </div>
-->
