

  <!-- panel footer startst here -->
  <div class="panel-footer">
       <div class="row">
            <div class="col-xs-3">
                 <p class="copyright" style="text-align:center">
                    Copyright @ 2017 Aljazira Center
                </p>
           </div>
           <div class="col-xs-5" style="text-align:center">
              <address>
                    Ajazira Center| 280 Elgar | Montreal, QC H3E1G5
              </address>
          </div>
       <div class="col-xs-2" style="text-align:right">
              <p> Back To Top</p>
      </div>
      <div class="col-xs-2">
            <a href="#">
              <span class="glyphicon glyphicon-arrow-up"></span>
            </a>
      </div>
   </div>
</div>
<!-- panel footer ends here -->




  
