<h3 style="margin-left: 15px">Contact Information</h3>
<hr>
<div class="row">
    <div class="col-md-4">
<address style="margin-left: 20px">
Aljazira Islamic Center <br>
    280 Rue Elgar <br>
    Verdun, H3E 1C9 <br>
    Canada
</address>
</div>
        <div class="col-md-4" style="margin-right:5px">
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11195.941068828395!2d-73.54986240000001!3d45.449952999999994!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x80ad4824e3552d03!2sAljazira+islamic+center!5e0!3m2!1sen!2sca!4v1490232973038" width="500" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>