<div class="section-center">
			<div class="baniere">
				<div class="baniere_gauche">
					<img src ="./image/activities/radio-canada-activities.jpg" target='_blank'>
					<I>Photo : Radio-Canada/Louis-Philippe Ouimet</I><hr><p>Dans un petit centre commercial de L'Île-des-Soeurs, une mosquée, une synagogue et une église catholique se sont installées à quelques mètres les unes des autres. Des membres de différentes confessions religieuses partagent donc presque le même toit pour se rassembler et pour prier. Inévitablement, les fidèles des trois communautés se croisent et discutent. <a href='http://ici.radio-canada.ca/nouvelle/790833/musulman-juif-catholique-harmonie-mosquee-synagogue-eglise-unite-ile-des-soeurs-montreal'>suite</a></p>
					 
				</div>
				<div class="baniere_droite">
					
				</div>
				
			</div>	
		</div>

