table {height: 100%}
table, td{
    border: 2px solid yellow;
    font-size: 25;
    color: black;
        border-spacing: 2px;
        border-collapse: collapse;
padding: 10px;
text-align: center;

}
th{text-align: center;
    padding: 20px;
}
.prayer_time{align-items: center;}
table{
  /*  background-image: url('./image/header.png');*/
    background-size:100% 100%;
}
