.logo img{
  width: 80px;
  height: 80px;
  position: static;
  top: 0px;
   left: 0px;
}
.title img {
  margin-top: 20px;
}



 .bs-example ul {
  /* background-image: url("../image/header.png"); */
   width: auto;
  /* position: absolute; */
}

.panel-heading{
    margin-top:0px;
    text-align: center;
    font-size: 25px;
}

.navbar-default{
    margin-bottom: 0px;
}
/*MEDIA QUERY*/
 @media screen and (max-width:999px) {

 /* ici les instructions pour écrans de moins de 999px de large. */
    .logo img{ width: 40px; height: 40px; top: 100px; right: 0px;}

    .bs-example{width: 100%;}
    .navbar-default{ margin-bottom: 0px;background-color: transparent;}
    /*.dropdown-menu{height: 200px; left: 70px;}*/


  }

/*@media screen and (max-width:540px) { /* ici les instructions pour écrans de moins de 540px de large. *//* }*/
