 .logo img{
  width: 80px;
  height: 80px;
  position: static;
  top: 0px;
   left: 0px;
}



 .bs-example ul {
  /* background-image: url("../image/header.png"); */
   width: auto;
}

.panel-heading{
    margin-top:0px;
    text-align: center;
    font-size: 25px;
}
.navbar-default{
    height: 100px;
    margin-bottom: 0px;
}