
<div class="panel-group">
<div class="panel panel-success">
    <div class="paenl panel-heading"> Donation</div>
    </div>

<div class="hadith-donation">
    
  <p> ما نقص مال عبد من صدقة
      <br>
     The wealth of a man will not diminish by Sadaqah (charity)
    </p>
</div>

    <div clsss="panel panel-heading" style="margin-left: 15px"> How to Donate to us?
    <div class="container">
        <p class="bg-warning"> 1. Cash to the donation box at our center. </p> 
        <p class="bg-info">2. Cheque to “Aljazira Islamic Center”.</p>
        <p class="bg-warning">3. Monthly payment deducted directly from your account by downloading and filling up this 
                        <a href="../Upload_Files/MonthlyDonationForm.pdf" download> FORM. </a>.</p>
        <p class="bg-info">4. Using the interact at our place.</p>
        <p class="bg-warning">Online Banking</p>
    </div>
</div>
    </div>
    

    

    
    
    
    
<!--<div class="section-center">
    <h1 style="margin-left:15px">Donation</h1>
			<div class="baniere">
				<div class="baniere_gauche" style="margin-left:20px">
                    <p> You can donate to our center using the following method:</p>
                    <ul> 
                    <li>Cash to the donation box at our center.</li>
                        <br/>
                    <li>Cheque to “Aljazira Islamic Center”.</li>
                        <br/>
                    <li>Monthly payment deducted directly from your account by downloading and filling up this 
                        <a href="../Upload_Files/MonthlyDonationForm.pdf" download> FORM. </a>.</li>
                        <br/>
                    <li>Using the interact at our place.</li>
                        <br/>
                        <li>Make payment to our RBC account.</li>
                    </ul>

					
				</div>
                <div class="baniere_droite">
                    
					<img class="display" src="../image/sadaqa_ayah.JPG">
				</div>
                </div>-->
				
				
			
	

