.baniere_gauche{
    background-color:burlywood;
    width: 500px;
    float: left;
}

.baniere_droite{

  float: right;
    margin-right: 10px;
}
img.display {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    
}
.hadith-donation{
   
    font-size: 25px;
    text-align: center;
    font-family: fantasy;
    background-color: chartreuse;
    color: blue;
    margin-left: 80px;
   
}
.hadith{width: auto}
p{ padding: 20px 20px 20px 20px;}
.panel-heading{
    margin-top:0px;
    text-align: center;
    font-size: 25px;
}
.container{
    width:60%;
    padding: 10px 10px 10px 10px;
    margin-left: 15px;
}