<div class="section-center">
    <h1 style="margin-left:15px">Donation</h1>
			<div class="baniere">
				<div class="baniere_gauche" style="margin-left:20px">
                    <p> You can donate to our center using the following method:</p>
                    <ul> 
                    <li>Cash to the donation box at our center.</li>
                        <br/>
                    <li>Cheque to “Aljazira Islamic Center”.</li>
                        <br/>
                    <li>Monthly payment deducted directly from your account by downloading and filling up this 
                        <a href="../Upload_Files/MonthlyDonationForm.pdf" download> FORM. </a>.</li>
                        <br/>
                    <li>Using the interact at our place.</li>
                        <br/>
                        <li>Make payment to our RBC account.</li>
                    </ul>

					
				</div>
                <div class="baniere_droite">
                    
					<img class="display" src="../image/sadaqa_ayah.JPG">
				</div>
                </div>
				
				
			
		</div>

