.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }


#myCarousel{
  margin-left: 10px;
  width: 600px;
  height: 320px;
}



div.section-left
{
	margin-left: 0px;
	width: 930px;
	height: 550px;
    border: 0px solid blue;
}
div.section-right
{
	margin-right: 0px;
	width: 780px;
	height: 550px;
    border: 0px solid blue;
}
div.baniere{
height:taille_fixe px;
width:100%;
}

div.baniere_gauche{
width:50%;
height:100%;
float:left;
}

div.baniere_droite{
width:50%;
height:100%;
float:right;
}
table {height: 100%}
table, td{
    border: 2px solid yellow;
    font-size: 25;
    color: black;
        border-spacing: 2px;
        border-collapse: collapse;
padding: 10px;
text-align: center;

}
th{text-align: center;
    padding: 20px;
}
.prayer_time{align-items: center;}
table{
    background-size:100% 100%;
}

.panel-heading{
    margin-top:0px;
    text-align: center;
    font-size: 25px;
}
