
		<div class="section-left">
			<div class="baniere">
				<div class="baniere_gauche">
					<p style="width:400px">Les Hammers se déplacent ce samedi au stade Dean Court pour croiser le fer avec Bournemouth dans le cadre de la 28e journée de la Premier League. Alors qu’il n’a pas goûté à la victoire depuis trois rencontres déjà, West Ham va tenter de profiter de la mauvaise situation de son adversaire pour essayer de renouer avec la victoire. Pour ce match, il est possible que l’entraîneur croate, Bilic, décide de ne pas titulariser Sofiane Feghouli. Selon la presse anglaise, le niveau du joueur de l’EN a régressé ces dernières semaines. Et il est possible, selon la même source toujours, que l’entraîneur croate de West Ham décide de laisser l’ancien sociétaire de Valence sur le banc des remplaçants. </p>
				</div>
				<div class="baniere_droite">
					<img src="../image/Medine.jpg" style="width:400px">
				</div>
				
			</div>	
		</div>
	
	
	

  
	

