<div class="panel-group">
<div class="panel panel-success">
    <div class="panel panel-heading"> Quran Teatching</div>
    <div class="panel panel-body">
    We have around 20 students enrolled in this activity. The students are divided into two groups. The frits group includes students unde age of 7, and the second group includes students 7 and and above. <br>
    The study is divided into session, each session is 8 weeks. Now, we are in spring session which will last the end of May.

         
    </div>
    </div></div>
<!-- hadith section stats her-->
<div class="hadith">
    
    <p>قال رسول الله صلي الله عليه وسلم 
        خيركم من تعلم القران وعلمه<br>

The prophet Muhammad(PBUH) said:
THE BEST AMONGEST YOU ARE THOSE WHO LEARN THE QURAN AND THEN TEACH IT
</p>

</div>
<!-- hadith section ends here-->
<!---  ****************** -->

<div class="panel-group">
<div class="panel panel-info">
    <div class="panel panel-heading"> The Schedual</div>
    </div></div>

    <div class="row" style="margin-left: 10px">
      <div class="left-table">
			<div class="col-md-6">
                    <h4>Boys</h4>
				<table style="padding: 6px"> 
                    <th> Group</th>
                    <th> Time</th>
                    <tr>
                    <td>First Group (4-6 years)</td>
                    <td>Friday: 17:00 to 18: 30</td></tr>
                    <tr>
                    <td>Second Group under 7 and above) </td>
                    <td> Friday: 18:30 to 20:00</td></tr></table>	
				</div>
				
        </div>
				
 <!-- boys table ends here-->
        <div class="right_table">    
        <div class="col-md-6">
				
                    <h4>Girls</h4>
				<table style="padding: 6px"> 
                    <th> Group</th>
                    <th> Time</th>
                    <tr>
                    <td>First Group (4-6 years)</td>
                    <td>Friday: 17:00 to 18: 30</td></tr>
                    <tr>
                    <td>Second Group under 7 and above) </td>
                    <td> Friday: 18:30 to 20:00</td></tr></table>	
				</div>
        </div>
				
				

		


