<h3 style="margin-left:15px"> Quran Teacthin</h3>
<hr>
<div class="section-left">
    <div class="hadith">
    <p>قال رسول الله صلي الله عليه وسلم 
        خيركم من تعلم القران وعلمه<br>

The prophet Muhammad(PBUH) said:
THE BEST AMONGEST YOU ARE THOSE WHO LEARN THE QURAN AND THEN TEACH IT
</p>
</div>
    <h3 style="margin-left:15px"> The Schedual</h3>
    <div class="row" style="margin-left: 10px">

			<div class="col-md-6">
				<div class="baniere_gauche">
                    <h4>Boys</h4>
				<table style="padding: 6px"> 
                    <th> Group</th>
                    <th> Time</th>
                    <tr>
                    <td>First Group (4-6 years)</td>
                    <td>Friday: 17:00 to 18: 30</td></tr>
                    <tr>
                    <td>Second Group <7 and above) </td>
                    <td> Friday: 18:30 to 20:00</td></tr></table>	
				</div>
				<div class="baniere_droite">
					
				</div>
				
			</div>	
        <div class="col-md-6">
				<div class="baniere_gauche">
                    <h4>Girls</h4>
				<table style="padding: 6px"> 
                    <th> Group</th>
                    <th> Time</th>
                    <tr>
                    <td>First Group (4-6 years)</td>
                    <td>Friday: 17:00 to 18: 30</td></tr>
                    <tr>
                    <td>Second Group <7 and above) </td>
                    <td> Friday: 18:30 to 20:00</td></tr></table>	
				</div>
				<div class="baniere_droite">
					
				</div>
				
			</div>	
</div>
		</div>


